<div class="text-center">
  <h1>Your coach answer </h1>
  <p>You can see here what's your coach answer ...</p>

  <div class="container">
    <div class="your-message">
      <p> <%= @question %> </p>
    </div>


    <div class="coach-answer">
      <p> <%= @response %> </p>
    </div>
  </div>


  <%= link_to "New question", ask_path %>
</div>


