

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1>Your message for the coah</h1>
        <p>What do you want to say to your coach ?</p>
      </div>
      <div class="form-group text-center">
        <form action="/answer" method="get">
          <input type="text" name="question" class="form-control">
          <input type="submit" value="Ask!" class="btn btn-primary">
        </form>
      </div>

    </div>

  </div>

</div>

